.footer-section {
  width: 100%;
  height: 312px;
  padding: 60px 0 80px;
  background-color: #eceef3; 
  color: #1f2937; 
  font-family: 'Inter', sans-serif;

}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-socials {
  display: flex;
  gap: 20px;
}

.footer-socials a {
  color: #4b5563;
  transition: color 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-socials a:hover {
  color: #000;
  transform: translateY(-2px);
}

.footer-logo-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer-logo {
  width: 50px;
  height: auto;
  filter: contrast(1.5); 
}

.footer-brand-text {
  display: flex;
  flex-direction: column;
  line-height: 1.1;
  color: #000000;
}


.footer-brand-text span:first-child {
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.brand-subtitle {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 4px;
  opacity: 0.8;
  color: #374151;
}

.footer-contact-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-contact-info p {
  margin: 0;
  font-size: 0.9rem;
  opacity: 0.8;
  letter-spacing: 0.5px;
  color: #4b5563;
}

.footer-right {
  display: flex;
  align-items: center;
}

.scroll-top-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d1d5db;
  background: transparent;
  color: #1f2937;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.scroll-top-btn:hover {
  background: #e5e7eb;
  border-color: #9ca3af;
  transform: translateY(-3px);
}
.footer-contact-info a {
  color: #056c89;
  text-decoration: none;
}

.footer-contact-info a:hover {
  color: black;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    padding: 0 20px;
  }
  
  .footer-right {
    width: 100%;
    justify-content: flex-end;
  }
}
